<div class="container">
	<h1>Contacto</h1>
	<div class="row">
		<div class="col-sm-4">
			<address>
				<strong>El coyote marino</strong><br/>
				Dirección:Plaza del Arbol<br/>
				Phone: 442 458 5885<br/>
				Abierto: 6am - 10pm
			</address>
		</div>
		<div class="col-sm-8">
			<div style="width: 100%"><iframe width="100%" height="600" src="https://www.mapsdirections.info/crear-un-mapa-de-google/map.php?width=100%&height=600&hl=en&q=El%20coyote%20marino%20Queretaro+(Visitanos)&ie=UTF8&t=&z=16&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear Google Map</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe></div><br />
		</div>
	</div>
</div>
