<header>
	<div class="container">
		<div class="intro-text">
            <div class="intro-lead-in">Bienvenido al Restaurant Coyote Marino!</div>
            <div class="intro-heading">Buen Provecho</div>
        </div>
	</div>
</header>